#content {
    width: 259px;
    padding: 0;
    margin: 0px;
    overflow: hidden;
    font-size: 12px;
    line-height: 25px;
    border: 1px #000 solid;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none; /*去掉点*/
}

/*父级元素相对定位*/
#content ul {
    position: relative;
}

.tipTest, .tipBj {
    position: absolute;
    width: 259px;
    height: 25px;
    top: 138px;
}
.tipTest{
    /*z-index: 99;*/
    color: white;
}
.tipBj{
    background: black;
    opacity: 0.3;  /*背景透明度*/
}