<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--    使用Spring来创建对象，在Spring这些都称为Bean
    类型 变量名 =new 类型()
    Hello hello =new Hello();
    id =变量名
    class =new 对象;
    proper相当如给属性设置
    -->
<bean id="hello" class="com.kuang.pojo.Hello">
    <property name="str" value="Spring"/>
</bean>

</beans>