<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mysqlImpl" class="com.kuang.mapper.UserDaoMysqlImpl"/>
    <bean id="userDaoImpl" class="com.kuang.mapper.UserDaoImpl"/>
    <bean id="userServiceImpl" class="com.kuang.service.UserServiceImpl">
<!--        ref:引用Spring容器中创建好的对象
            value:就是具体的值
-->
            <property name="userDao" ref="mysqlImpl"/>
    </bean>
</beans>